<h4>Welcome [FIRST_NAME]!</h4>
<p class="h5">This application is for Summer/Fall 2016 first-year applicants only. Transfer applicants and continuing Penn State students should contact the SHC for more information.</p>

<p>A complete application to Schreyer Honors College requires the following items:</p>

<ol>
  <li>A complete application for regular admission to Penn State</li>
  <li>Answers to the Schreyer Honors College Application essay questions</li>
  <li>Answers to the supplemental questions</li>
  <li>Teacher Evaluations from two teachers selected by you</li>
  <li>A non-refundable application fee of $30</li>
</ol>

<p class="highlight">The priority application deadline for the SHC is November 30, 2016. All SHC applicants will be notified of their status by mid-March.</p>

<a class="btn btn-primary" [routerLink]="['/SelectionCriteria']">Continue</a>
