<h4>Selection Criteria</h4>
<p>Entrance to the Schreyer Honors College is highly competitive. Candidates offered admission to the Schreyer Honors College should demonstrate academic excellence, strong leadership skills, motivation and self-discipline, and a commitment to citizenship and civic responsibility. Schreyer Scholars represent the top 5% of students at Penn State, and therefore should also be at the top of their respective high school classes. The Schreyer Honors College does not set a minimum standardized test score or grade point average for its applicants. Candidates will be assessed based on the academic and extracurricular credentials submitted with the application, as well as responses to essay questions, and letters of recommendation.</p>

<h4>Scholarship Information</h4>
<p>All first-year entering Schreyer Scholars receive the Academic Excellence Scholarship of $4500 per year, renewable for four years. All Penn State applications are reviewed for eligibility for additional merit-based scholarships; applicants who complete the Free Application for Federal Student Aid (FAFSA) will be considered for need-based assistance. For additional information, please see Penn State’s Office of Student Aid.</p>

<p class="highlight">The priority application deadline for the SHC is November 30, 2016. All SHC applicants will be notified of their status by mid-March.</p>

<a class="btn btn-primary" [routerLink]="['/Recommendations']">Continue</a>
